body {
    background-color: #ffe6e6;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #333;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 3em;
    color: #ff3366;
}

.buttons {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.yes-button {
    background-color: #ff3366;
    color: white;
}

.no-button {
    background-color: #ccc;
    color: black;
}

button:hover {
    opacity: 0.8;
}

.gif_container {
    margin: 20px 0;
}

.additional-content {
    margin-top: 30px;
}

.additional-content p {
    font-size: 1.5em;
    color: #ff6699;
}

.additional-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.additional-content img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.floating-heart {
    position: fixed;
    bottom: 0;
    font-size: 2rem;
    animation: floatUp 5s linear infinite;
    color: red;
    z-index: 9999;
}

@keyframes floatUp {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-100vh); opacity: 0; }
}
