body {
    background-color: #ffe6e6;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #333;
}

.container {
    margin-top: 50px;
}

.header_text {
    font-size: 3em;
    color: #ff3366;
}

.gif_container {
    margin: 20px 0;
}

.gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gif_container img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.additional-content {
    margin-top: 30px;
}

.message {
    font-size: 1.8em;
    color: #ff6699;
    background-color: #fff0f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 20px 0;
}

.additional-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.additional-content img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.message-button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff6699;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.message-button:hover {
    background-color: #ff3366;
}

/* Estilos para el modal */
.modal {
    display: none; /* Cambiar a 'flex' cuando se muestre */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Evita el scroll */
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-message {
    font-size: 1.5em;
    color: #ff3366;
    margin-bottom: 20px;
}

.modal-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}